.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.container > * {
  margin: 8px;
}
.fields > * {
  margin: 4px;
}
.title {
}
.description {
  min-width: 100%;
}
.button {
  min-width: 180px;
  height: 40px;
  padding-right: 4px;
}
.button-row {
  display: flex;
  flex-direction: row;
}
