.home {
  display: flex;
  flex-direction: column;
  margin: 8px 8px;
}
.header {
  display: flex;
  flex-direction: row;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu button {
  margin-right: 12px;
}
.content {
  flex-direction: column;
  flex-flow: wrap;
}
